torch==2.6.0
torchvision==0.21.0
diffusers==0.32.2
transformers==4.61.0
accelerate==1.7.0
xformers==0.0.29.post1
imageio==2.37.0
imageio-ffmpeg==0.5.1
opencv-python==4.11.0.86
av==13.1.0
wandb==0.19.13
numpy==2.2.5
matplotlib==3.10.1
einops==0.8.1
fastapi==0.116.3
uvicorn==0.34.4
pydantic==2.11.3
streamlit==1.44.1
pytest==8.3.5
tqdm==4.67.1
