torch==2.6.0
torchvision==0.21.0
diffusers==0.32.2
transformers==4.61.0
imageio==2.37.0
imageio-ffmpeg==0.5.1
opencv-python==4.11.0.86
av==13.1.0
numpy==2.2.5
einops==0.8.1
pyyaml==6.0.2
fastapi==0.116.3
uvicorn==0.34.4
pydantic==2.11.3
streamlit==1.44.1
pytest==8.3.5
